html {
    font-family: "book antiqua";
}

body{
    height: 1000px;
    background-color:#94a5cc;
}

h1{
    font-size: 70px;
    margin-left: 5%;
    margin-bottom: 5%;  
}

.about, footer{
    background-color: white;
    margin-left: 2%;
    margin-right: 2%; 
    border-radius: 25px;  
    padding-top: 2%; 
    padding-bottom: 2%;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search-box{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%; 
    border-radius: 25px;  
    padding-top: 1%; 
    padding-bottom: 1%;
}

p, .block{
    font-size: 20px;
    margin-left: 4%;
    margin-right: 4%;
}

.block{
    width:50%;
}

.foto{
    width: 30%;
    height: 50%;
    float: left;

    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: white;

    border-radius: 25px;
}

img, .product-info{
    width: 90%;
    height: 80%;
}

.row{
    width: 98%;
    height: 100%;
    margin: 0 2%;
}


.product-info{
    display: none;
    font-size: 18px;
    line-height: 2;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo{
    height:50%;
    width: 60%;
    padding-top: 5px;
}

.znak{
    width:35%;
    height:98%;
}

.button_for_turn_back, .button_for_search{
    background-color: #94a5cc;
    height:50px;
    width:100px;
    border-color: #94a5cc;
    border-radius: 25px;
}

.place_for_search{
    border: 1px solid #a4a4a4;
    padding: 15px 20px;
    border-radius: 25px;
    width: 30%; 
    margin-bottom: 10px;
}

form{
    margin: 0 2%;
    text-align: center;
}
